<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="ConnectionString" connectionString="Data Source=Srikanth\SQLEXPRESS;Initial Catalog=SampoleDb;Password=sa@123; User Id=sa;" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<appSettings>
		<add key="TimerElapsedLimit" value="5000"/>
	</appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>